{% load static %}
<!doctype html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <link rel="apple-touch-icon" href="{% static "img/apple-icon.png" %}">

    <title>{% block title %}  {% endblock %} URL Shortener</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>

    <!-- {% include "layouts/nav.html" %} -->

    <div class="container mb-2 mt-5">
    {% block content %}  {% endblock %}
    </div>

    {% include "layouts/footer.html" %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <scrip src="{% static "js/app.js" %}"></scrip>
    {% block scripts %}  {% endblock %}

</body>
</html>
