{% extends "layouts/master.html" %}

<!-- {% block title %}Home{% endblock %} -->

{% block content %}
    <h1>Shorten it!</h1>
    {% if url %}

    <button class='col s1 btn' id='copy' onclick='copy()'>Copy short!</button>
    <div class='row'>
        <div class="col s6">
          <input type='text' id='short' value={{ url }}>
        </div>
        <div class="col s1">
            <h5>-></h5>
        </div>
        <div class="col s5">
            <h5>{{ org_url }}</h5>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <h5>Or...Try again</h5>
    <br/>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s6">
                {{ form.link }}
                <label for="{{ form.link.id_for_label }}">URL</label>
                {% for error in form.link.errors %}
                    <span class="helper-text red-text">{{ error}}</span>
                {% endfor %}
            </div>
            <div class="input-field col s6">
                {{ form.short }}
                <label for="{{ form.short.id_for_label }}">Optional suffix</label>
                {% for error in form.short.errors %}
                    <span class="helper-text red-text">{{ error}}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                {{ form.captcha }}
                {% for error in form.captcha.errors %}
                        <span class="helper-text red-text">{{ error}}</span>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Shorten</button>
    </form>
{% endblock %}

{% block scripts %}
<script>
    function copy() {
        document.getElementById("copy").textContent = 'Copied!'
        document.getElementById("short").select();
        document.execCommand("copy");
    }
    {% if not url %}    
        document.getElementById("id_link").focus();
    {% else %}
        document.getElementById("short").select();
    {% endif %}
</script>
{% endblock %}
